<h1 class="text-center"><%= t "sessions.new" %></h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span><%= t "sessions.remember_me" %></span>
        <% end %>

        <%= f.submit t("users.login"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
