<%= render "shared/errors", obj: @user %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_for @user do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit @user.new_record? ? t("users.btn_signup") : t("users.btn_edit"),
          class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
