<div class="container" id="item_list">
  <ul>
    <% items.each do |item| %>
      <div class="well">
        <li class="item">
          <%= item.product.title %>
        </li>
        <li class="quantity">
          <%= t "carts.quantity" %>:
          <%= form_for item, remote: true, method: :patch do |f| %>
            <%= f.number_field :quantity, value: item.quantity %>
            <%= submit_tag t("carts.update"), class:"btn btn-xs btn-primary up-cart"%>
          <% end %>
        </li>
        <div class="price">
          <%= t "carts.total_price" %>: <%= number_to_currency total_price(item),
            unit: Settings.unit, format: "%n %u", precision: 0 %>
        </div>
        <%= link_to item, remote: true, method: :delete,
          data: {confirm: t("line_items.delete?")} do %>
          <button type="button" class="close del_line_item" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <% end %>
      </div>
    <% end %>
  </ul>

  <div class="row">
    <div class="col-xs-4">
      <%= link_to t("carts.delete"), @cart, method: :delete,
        data: {confirm: t("carts.delete?")}, class:"btn btn-xs btn-danger del-cart" %>
    </div>
    <div class="col-xs-4 order">
      <%= link_to t("carts.order"), new_order_path, class:"btn btn-xs btn-success" %>
    </div>
    <div class="col-xs-4">
      <%= link_to t("carts.shop"), products_path,
        class:"btn btn-xs btn-primary shop" %>
    </div>
  </div>
</div>
