<h1 class="text-center"><%= t("categories.category") %>: <%= @category.name %></h1>

<%= link_to t("back"), url_for(:back), class: "btn btn-xs btn-default" %>

<%= link_to t("categories.update"), edit_category_path(@category) %>

<%= link_to t("categories.delete"), @category, method: :delete,
  data: {confirm: t("categories.delete?")} %>

<%= render partial: "products/products", locals: {products: @products} %>
