<%= render "shared/errors", obj: @product %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_for @product do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :image_url %>
        <%= f.file_field :image_url %>
        <% if f.object.image_url? %>
          <%= image_tag f.object.image_url.thumb.url %>
          <%= f.label :remove_image_url %>
          <%= f.check_box :remove_image_url %>
        <% end %>

        <%= f.label :price %>
        <%= f.text_field :price %>

        <%= f.label :category_id, t("categories.category") %>
        <%= f.collection_select :category_ids, @categories.main_categories,
          :id, :name, {}, {multiple: true} %>

        <%= f.label :category_id, t("categories.sub") %>
        <%= f.grouped_collection_select :category_ids, @categories.main_categories,
          :accessories, :name, :id, :name, {}, {multiple: true} %>

        <%= f.submit @product.new_record? ? t("products.btn_create") :
          t("products.btn_edit"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
