<h1 class="text-center"><%= t "products.index" %></h1>

<%= paginate @products %>

<% @products.each do |p| %>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <%= image_tag p.image_url, size: Settings.index_img_size %>
        <div class="caption">
          <h4><%= link_to p.title, product_path(p) %></h4>
          <p><%= p.description %></p>
        </div>
        <p><%= link_to t("products.add_cart"), "", class: "btn btn-primary add-cart" %></p>
      </div>
    </div>
  <% end %>
</div>
