<div class="container">
  <div class="image"><%= image_tag @product.image_url %></div>
  <ul class="info">
    <li class="title"><%= @product.title %></li>
    <li><%= @product.description %></li>
    <li><%= @product.price %>d</li>
  </ul>
  <% if logged_in? %>
    <% if current_user.is_admin %>
      <%= link_to t("products.btn_edit"), edit_product_path(@product),
        class: "btn btn-primary edit-p" %>
      <%= link_to t("products.delete"), @product, method: :delete,
        data: {confirm: t("products.delete?")}, class: "btn btn-danger delete-p" %>
    <% end %>
  <% end %>
</div>
